<p style="color: green"><%= notice %></p>

<%= render @add_google_oauth_to_u_sers_for_calendar %>

<div>
  <%= link_to "Edit this add google oauth to u sers for calendar", edit_add_google_oauth_to_u_sers_for_calendar_path(@add_google_oauth_to_u_sers_for_calendar) %> |
  <%= link_to "Back to add google oauth to u sers for calendars", add_google_oauth_to_u_sers_for_calendars_path %>

  <%= button_to "Destroy this add google oauth to u sers for calendar", @add_google_oauth_to_u_sers_for_calendar, method: :delete %>
</div>
